.filter_panel {
  @extend .flex-centered;
  //@include grid-container(1em);
  //@include uniform-sides-padded-container(0.5em);
  // background: var(--trans-dark-7);
  .filters {
    @extend .flex-centered;
    flex-wrap: wrap;
    .filter_label {
      @extend .flex-centered;
      margin: 0.5em;
      font-weight: 400;
      cursor: pointer;
      span {
        color: var(--trans-dark-7);
      }
      input {
        display: none;
        &:checked ~ .custom_radio {
          &::before {
            opacity: 1;
          }
        }
      }
      .custom_radio {
        @extend .flex-centered;
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
        //@include bordered-container(2px, solid, var(--green-sea));
        background: var(--green-sea);
        @include border_radius(50%);
        margin-right: 0.25em;
        &::before {
          position: absolute;
          opacity: 0;
          @include border_radius(50%);
          width: 1rem;
          height: 1rem;
          content: "";
          background: #fff;
        }
      }
    }
  }
}
